body {
    background-image: url(/assets/songrBackground.jpg);
    background-size: cover;
    color: #eee;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 100%;
    box-shadow: 3px;
    text-align: center;
}

#appName {
    width: 30%;
    font-family: 'Allura';
    font-size: 3rem;
    color: rgb(250, 68, 211);
    text-decoration: none;
}

.links {
    font-size: 1.2rem;
    text-decoration: none;
    color: #eee;
    font-family: 'Cabin';
    color: rgb(52, 219, 248);
}

#navLinks {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

#mid {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

#albums {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-wrap: wrap;
}

.album li {
    margin: 5px 0px;
    font-family: 'Cabin';
    font-size: 1rem;
    color: rgb(250, 68, 211);
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(5, 5, 5, 0.6);
    color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px;
    max-width: 20%;
    margin: 15px;
}

#catchphrase {
    font-family: 'Pacifico';
    color: rgb(250, 68, 211);
    font-size: 5rem;
}

#description {
    color: rgb(52, 219, 248);
    font-size: 1.4rem;
    font-family: 'Cabin';
    margin: 15px 0px;
}

.button {
    font-family: 'Cabin';
    font-size: 1.5rem;
    background: rgb(252, 114, 194);
    color: #eee;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    box-shadow: 1px 1px 1px 1px;
    text-decoration: none;
    margin: auto;
}

.button:hover {
    cursor: pointer;
}

.descriptor {
    color: rgb(207, 248, 59);
}

.albumForm {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

#or {
    font-size: 3rem;
    color: rgb(235, 252, 4);
    font-family: 'Pacifico';
    margin: 25px 0px;
}

input {
    font-family: 'Cabin';
    background: rgb(207, 248, 59);
    color: rgba(19, 15, 250, 0.8);
    text-align: center;
    margin-bottom: 20px;
    border: none;
    padding: 3px;
    box-shadow: 1px 1px 1px 0px;
    width: 100%;
}

img {
    max-width: 100%;
}

#forms {
    display: flex;
    justify-content: center;
    width: 100%;
}

.song {
    font-family: 'Cabin';
    font-size: 1.2rem;
    color: rgb(207, 248, 59);
    margin: 5px;
}

.songs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(5, 5, 5, 0.6);
}