<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Common Fragments</title>
    <link rel="stylesheet" type="text/css" href="../reset.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link href="https://fonts.googleapis.com/css?family=Allura|Cabin|Pacifico|Mr+Dafoe&display=swap" rel="stylesheet">
</head>
<body>
    <nav th:fragment="navbar">
        <a href="/" id="appName">Songr</a>
        <div id="navLinks">
            <a href="/albums" class="links">My Albums</a>
            <a href="/hello" class="links">Welcome</a>
            <a href="#" class="links">Sign Up</a>
            <a href="#" class="links">Log In </a>
        </div>
    </nav>
</body>
</html>